<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{general/fragmentos :: head}"></head>
    <body>
        <header th:replace="~{general/fragmentos :: header}"></header>

        <section class="p-3">
            <div class="container">
                <h2 class="my-3">[[#{index.titulo}]]</h2>
                <div class="row">
                    <div th:if="${suculentas == null or suculentas.empty}" class="text-center p-3">
                        <span>[[#{lista.vacia}]]</span>
                    </div>
                    <div class="col-md-4 mb-4" th:each="s : ${suculentas}">
                        <div class="card h-100">
                            <img th:src="@{${s.rutaImagen}}" class="card-img-top" alt="imagen de suculenta" height="220"/>
                            <div class="card-body">
                                <h5 class="card-title">[[${s.nombreComun}]]</h5>
                                <h6 class="card-subtitle mb-2 text-muted"><em>[[${s.nombreCientifico}]]</em></h6>
                                <p class="card-text mb-1"><strong>[[#{suculenta.familia}]]:</strong> [[${s.familia}]]</p>
                                <p class="card-text mb-1"><strong>[[#{suculenta.nivelRiego}]]:</strong> [[${s.nivelRiego}]]</p>
                                <p class="card-text"><strong>[[#{suculenta.precioEstimado}]]:</strong> [[${#numbers.formatCurrency(s.precioEstimado)}]]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer th:replace="~{general/fragmentos :: footer}"></footer>
    </body>
</html>
